@font-face {
  font-family: "Sonny";
  src: url("../fonts/SonnyGothicRegular.otf");
}
	  
@font-face {
  font-family: "SonnyBold";
  src: url("../fonts/SonnyGothicBold.otf");
	font-weight: bold;
	
	  }

.container{
	max-width: 720px;
}

.bar{
	background-color: #000;
	border: #737373 1px solid;
	border-radius: 3px;
	height: 2px;
	width: 100%;
}

.mouse{
	width: 500px;
}


.background{
	background: url("../img/background.jpg");
	width: 100%;

}

.mouse2{
	display: block;
}

h3{
	text-transform: uppercase;
}

.rot{
	background-color: #420A2F;
}

@media (max-width:580px){
	
}

#video-youtube{
	width: 100%;
	height: 100%;
}

.container{
	align-content: center;
	max-width: 720px;
	background: #000000;

}

.row {
	padding: 3px;
	margin: 5px;
}


.embed-responsive-4by3{
	margin-bottom: 20px;
}

.coluna{
	margin-bottom: 2%;
}

.coluna2{
	margin-bottom: 5%;
}

#content1{


}

#content2{
	height: 100%;
	display: block;
}

#content3{
	width: 100%;
}

#content4{
	width: 100%;
}

.imagem-1{
	width: 100%;
	float: right;
	margin: 3px;
	padding-right: 3px;
	display: flex;
}

#slide{
width: 300px;
}

#slide img{
width: 300px;
	display: flex;
}

.img{
	position: relative;
	
}

.img-1{
	max-width: 100%;
    height: auto;
	display: grid;

}

.img-2{

	height: 50%;
}

.img-3{
	max-width: 100%;
    height: auto;	
}

.img-4{
    height: 50%;
	border-radius: 5px;
}

.colunain{
	width: 50%;
	float: right;

}

.colunain2{
	display: block;
	width: 100%;
	margin-top: 15px;
	margin-right: 50px;
}

.colunain3{
	display: block;
	width: 100%;
	margin-top: 15px;
	margin-right: 50px;
}

.imagem-2{
    display: inline-flex;
	margin: 3px;
	padding-right: 3px;
}

.imagem-3{
	display: grid;
	margin: 3px;
	padding-right: 3px;
}

.imagem-4{
	float: left;
	display: flex;
	margin: 3px;
	padding-right: 3px;
	width: 100%;
}

.img-responsive{
	margin: 0px;

}

.table1{
	width:720px;
}

.h1dazz{
	color: #fff22f;
    text-transform: uppercase;
    font-weight: bold;
	text-align: center;
}

.h1dazz:hover{
	color: #870103;
	
}

.h2dazz {
	padding: 1px;
	align-content: center;
	font-family: 'Sarala', sans-serif;
    text-align: center;
	color: #fff;
}


.botaodazz {
	align-itens: center;
	background: #666666;
	border: 1px solid;
	width: 100%;
	height: auto;
	margin: 3%;
	padding: 3%;
	border-radius: 20px;
	font: oblique;
	font-family:"Sonny Gothic", "Sonny Gothic Bold", 'Sonny Gothic Light';
    text-align: center;
	text-transform: uppercase;
	color: #fff;
}


.botaodazz:hover{
	background: #444;
}

.hrdazz{
	display: block;
    margin-top: 0.5em;
    margin-bottom: 0.5em;
    width: 30%;
    border: #fff22f 3px solid;
    border-radius: 35px;
    border-width: 3px;
} 
	
.img{
	width: 100%;
}

.pdazz {
    text-color: #fff;
    color: #FFFFFF;
    margin-top: 10px;
    text-transform: none;
    text-align: justify;
	
	
}


.svg {
	width: 80%;
	position: relative;
	left: 10%;
	padding-bottom: 30px;
  stroke-dasharray: 1000;
  animation: dash 12s linear infinite;
}

@keyframes dash {
  to {
    stroke-dashoffset: 8500;
  }
}
